POSTGRES_HOST=localhost
POSTGRES_PORT=5436
POSTGRES_DB=tasks_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5436/tasks_db

SECRET_KEY=your-super-secret-key-change-in-production
ALGORITHM=HS256
